
:root{
    font-size: 16px;
    font-family: 'Lato', sans-serif ;
}
*{
    margin: 0;
    padding: 0;
}

/* header information*/
header{
    z-index: 5;
}
ul{
    list-style-type: none;
    overflow: hidden;
    box-shadow: black 10px 10px 10px;


}

li{
    float: right;
    padding:45px;
    box-sizing: border-box;
    font-size: 1.25rem;
    border-right: 1px solid black;
  
}

li:hover{
    background-color: rgba(190, 190, 190, 0.24);
}


#logo{
    float: left;
    border-right: white;
}
#logo:hover{
    background-color:white;
}


/* Box sections*/

.box{
    box-sizing: border-box;
    padding: 45px;
    
    font-size: 1.5rem;

}

#main{
    margin:10px 0 60px 0;
    height: 100vh;
    background-image: url("../images/business-hands-on-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.938);
    
}

#main h2{
    position: relative;
    width: 75%;
    font-size: 3rem;
}

.entries_box{
    display:grid;
    grid-gap: 50px 50px;
    grid-template-columns: auto auto auto;
    padding-bottom: 45px;
    
}

.entry{
    text-align: center;
    background-color:rgb(201, 201, 241);
    padding:45px;

}

#news{
    display:grid;
    grid-gap: 50px 50px;
    grid-template-columns: auto auto;
    height:50vh
    
}

.news_entry{
    text-align: center;
    background-color: gainsboro;
    
}

#nextmain{
    background-image: url("../images/covid-test.jpg");
    background-repeat: no-repeat;
    color:rgb(201, 201, 241);
    background-size: cover;
}

#lastmain{
    background-image: url("../images/lets-get-started-gloves.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    color:white;
    
   
}
/*sizing options*/
@media  screen and (max-width: 700px){

    ul{
        text-align: center;
        
    }

    li{
        float: none;
    }

    #logo{
        position:absolute;
        top: 30px;
        float: left;
        padding: 30px;
        border-right: 1px solid black;
        border-radius: 5px;
        border-bottom: 1px solid black;
        
    }
    

}
    


