.main-banner{
    padding: 45px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    padding:5px;
}
.grid-entry{
    background-color: ghostwhite;
    text-align: center;
    padding:20px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
}

img{
    border: 1px solid black;
    border-radius: 5px;
    max-width:100%;
}

footer{
    color: black;
    font-size: 1.25rem;
    background-color: #ffffff;
    margin: 25px;
    padding: 25px;
    box-shadow: black 10px 10px 20px;
}

@media  screen and (max-width: 700px){
    .grid-container{
        grid-template-columns: auto;

    }
}
